<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    引入properties文件-->
    <properties resource="jdbc.properties"/>

<!--    类型别名：不区分大小写-->
    <typeAliases>
<!--    不写alias，默认使用类名-->
        <typeAlias type="com.lingfenglong.mybatis.pojo.User"/>

<!--    以包为单位，为包下面的所有类设置默认包名-->
        <package name="com.lingfenglong.mybatis.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mappers/UserMapper.xml"/>-->
        <package name="com.lingfenglong.mybatis.mappers"/>
    </mappers>
</configuration>